<%= simple_form_for [project, ticket] do |f| %>
	<% if ticket.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(ticket.errors.count, "error") %>
			prohibited this project from being saved:</h2>
			<ul>
				<% ticket.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.input :name %>
	<%= f.input :description %>
  <%= f.input :attachment, as: :file, label: "File" %>
  <%= f.input :attachment_cache, as: :hidden %>

	<%= f.button :submit, class: "btn-primary" %>
<% end %>
